fastapi==0.111.0
uvicorn==0.30.1

pydantic==2.7.4
typing-extensions==4.12.2

redis==5.0.7
requests==2.32.3
urllib3==2.2.2

langchain==0.2.14
langchain-core==0.2.32
langchain-openai==0.1.22
langgraph==0.2.34
